<section class="page">
  <h1 class="title">
    Welcome to Frontend!
  </h1>
  <div class="two-grid">
    <div class="flex-column">
      <section>
        <h3>Get started with your browser</h3>
        <h5>Learning HTML, CSS, JAVASCRIPT</h5>
        <p>to build beautiful website</p>
        <h5>Gain control of web pages</h5>
        <p>to achieve what you want</p>
      </section>
      <button mat-button>Pick Me!</button>
      <button mat-button>Learn More</button>
    </div>

  </div>
</section>
