.page {
  height: 100vh;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

